@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    appearance: none;
}

#nav-list{
    color: #fff;
    display: grid;
    font-size: 18px;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    width: 100%;
    justify-items: center;
    padding: 3rem 2rem;
}

#nav-list::before {
    content : "";
    position: absolute;
    left    : 50;
    bottom  : 0;
    height  : 1px;
    width   : 80%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.253);
  }

#header{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.40) 0%), url('../img/header-img.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    display: grid;
    place-items: center;
    font-size: 3rem;
    height: 100vh;
}

#footer{
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 3rem 12rem;
}

#footer-nav{
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    gap: 1rem;
}

#footer-title-container{
    font-size: 18px;
}

#footer-nav{
    font-size: 16px;
}

#footer-text{
    font-size: 16px;
}

#contact-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "location main"
        "hours main"
        "phone main"
        "email main"
        "comment main";
    gap: 3rem;
    padding: 5rem 12rem;
}

#contact-image-container{
    display: grid;
    grid-area: main;
    justify-items: center;
    background: url('../img/contact-img.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 33%;
}

#contact-location{
    grid-area: location;
}

#contact-phone{
    grid-area: phone;
}

#contact-email{
    grid-area: email;
}

#contact-hours{
    grid-area: hours;
}

#contact-comment{
    grid-area: comment;
}

.title{
    margin-bottom: 1rem;
}

#cafeMenu{
    display: grid;
    padding: 3rem 12rem;
}

.section-title{
    margin-bottom: 1rem;
}

.menu-section{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 3rem;
}

#coffee{
    grid-template-areas: 
        "title image"
        "list image";
}

#tea{
    grid-template-areas: 
        "image title"
        "image list";
}

#treats{
    grid-template-areas:
        "title image"
        "list image";
}


.section-title{
    grid-area: title;
}

.menu-element{
    grid-area: list;
}

.menu-img{
    grid-area: image;
    width: 70%;
}

.bold{
    font-weight: bold;
} 

.element-desc{
    margin-left: 1rem;
}

#home-cont{
    padding: 3rem 12rem;
}

#home-welcome{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-bottom: 3rem;
}

#welcome-title{
    text-align: center;
    margin-bottom: 1rem;
}

#blurb{
    text-align: center;
}

.homeCont-img{
    width: 100%;
}

#home-about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    place-items: center;
}

#home-about-container{
    grid-column: 2;
    grid-row: 1;
}

#home-about-title{
    text-align: center;
    margin-bottom: 1rem;
}

#home-about-text{
    text-align: center;
}

.homeAbout-img{
    width: 100%;
}

.separator{
    margin: 5rem auto;
    width: 30%;
    color: rgba(255, 255, 255, 0.678);
}

.nav-item{
    cursor: pointer;
}